{% extends "base.html" %}
{% block title %}bookmark_search.html{% endblock %}

{% block content %}
    <h1>Bookmark Search</h1>
    <br>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Submit" class="btn btn-primary btn-sm">
    </form>
    <br><br>
    {% if object_list %}
        {% for bookmark in object_list %}
        <h1>{{bookmark.title}}</h1>
            <ul>
                <li>URL : <a href="{{bookmark.url}}">{{bookmark.url}}</a></li>
            </ul>
        {% endfor %}
    {% elif search_term %}
    <b><i>Search Word({{ search_term }})Not Found!</i></b>
    {% endif %}
{% endblock %}